<% layout('layouts/boilerplate') %>
<body>
  <div class="container my-3"></div>
  <div class="row ms-2">
    <% for (let listing of allListings ){ %>
    <div class="card home-card mb-2" style="width: 21rem">
      <a href="/listings/<%=listing._id%>"
        ><img src="<%=listing.image%>" class="card-img-top" alt="listing_image"
      /></a>
      <div class="card-body">
        <p class="card-text">
          <a href="/listings/<%=listing._id%>"><%=listing.title%></a>
        </p>
        <p class="card-text">&#8377 <%=listing.price%></p>
      </div>
    </div>
    <%}%>
  </div>
</body>
