<% layout ('layouts/boilerplate')%>
<body>
    <h2>Details</h2>
    <br>
    <p><%=listing.title%></p>
    <p><%=listing.description%></p>
    <p>&#8377 <%=listing.price.toLocaleString('en-IN')%></p>
    <p><%=listing.image%></p>
    <p><%=listing.location%></p>
    <p><%=listing.country%></p>
    <br>
    <a href="/listings/<%=listing._id%>/edit">Change this Lisitng</a>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
      <button>Delete this listing</button>
    </form>
  </body>

